#issuesContainer{
    display: flex;
    flex-direction: row;
}
#issuesArray {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* background-color: lawngreen; */
}
#search{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-self: center;
}

#issue{
  width: 80%;
}

a{
    background-color: #f7f7f7;
    padding: 2px;
    border-radius: 5px;
}
li ,ul {
   text-align: start;
}

#issueTitle{
        font-size: 30px;
        border-radius: 5px;
        padding : 10px;
        margin: 10px 50px 20px 50px;
        background-color: #f7f7f7;
        border: whitesmoke;
        border-style: solid;
        border-width: 1px;
}
#buttons {
    display: flex;
    justify-content: flex-start;
    align-content: space-between;
}
Button{
    margin-left: 20px;
}